{% extends 'base.html' %} 
{% block content %}
	<div class="content">
		<h1 class="title">Handwritten Digit Recognizer</h1>
		<h3 class="subtitle">Easily analyze and detect handwritten digits.</h3>

		<div class="upload-container">
			<div class="upload">
				<form id="upload-form" action="/predict" method="post" enctype="multipart/form-data">
					<input id="file-field" type="file" name="image" required hidden />
					<button id="submit-btn">
						<i data-feather="file-plus"></i>&nbsp;&nbsp;<span>Select File</span>
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
